body{
    margin: 0;
    background-color: var(--cream);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .attribution { font-size: 11px; text-align: center; padding: 1rem ;width: 100%; }
    .attribution a { color: var(--attribution); }
}

.card {
    width: 335px;
}

@media (min-width: 577px) {
    .card {
        width: 344px;
        padding: 42px 38px;
    }
}